<% include ../partials/header %>

<div class="container login">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 col-md-5">
            <h3><%= beach.name %></h3>
            <p> Add a comment </p>
            <form action="/beaches/<%=beach._id%>/comments" method="POST">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="desc" name="comment[text]" placeholder="Comment..."></textarea>
                </div>
                <div class="form-group">
                     <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/beaches/<%=beach._id%>">Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>