html {
    height: 100vh;
}

body {
    height: 100%;
}

h1, h2 {
    text-align: center;
}

#logo {
    height: 30px;
}

.navbar-brand {
    font-family: 'Permanent Marker';
}

.card-img-top {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

.comments {
    background-color: #eee;
}

footer {
    width: 100%;
    background-color: #007bff;
    text-align: center;
}