<% include ../partials/header %>

<div class="container p-5 mt-5 mb-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <h1> Add new beach </h1>
            <form action="/beaches" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="beach[name]" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="beach[image]" placeholder="Image URL">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="desc" name="beach[desc]" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                     <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/beaches">Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>